fastapi==0.116.1
python-multipart==0.0.20
uvicorn[standard]==0.35.0
sqlalchemy[asyncio]==2.0.41
aiosqlite==0.21.0
alembic==1.16.4
pydantic==2.11.7
pydantic-settings==2.10.1
python-dotenv==1.1.1
google-genai==1.26.0
python-telegram-bot==22.3
apscheduler==3.11.0
httpx==0.28.1
google-api-python-client==2.176.0
google-auth-oauthlib==1.2.2
groq==0.13.1
spitch==1.50.0
fastembed>=0.8.0
